<h2> Room information </h2>
<%= @room.number %>
<p> On this page should be show room statistic, what is current status, occupience
how many reservations room had, change date, how much money is earned from this room </p>
